h1 {
  text-align: center;
  color:#1fdd4e;
}

body {
  margin: 10px 10%;
}

pre {
  background-color: #24aed8;
  border:1px dotted #0ab42f;
  padding: 10px;
  border-radius: 20px;
}

img {
  display:block;
  margin:auto;
}
